<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<string>16</string>
		<key>pixels</key>
		<integer>256</integer>
		<key>width</key>
		<string>16</string>
	</dict>
	<dict>
		<key>height</key>
		<string>11</string>
		<key>pixels</key>
		<integer>462</integer>
		<key>width</key>
		<string>42</string>
	</dict>
	<dict>
		<key>height</key>
		<string>32</string>
		<key>pixels</key>
		<integer>1024</integer>
		<key>width</key>
		<string>32</string>
	</dict>
	<dict>
		<key>height</key>
		<string>30</string>
		<key>pixels</key>
		<integer>1200</integer>
		<key>width</key>
		<string>40</string>
	</dict>
	<dict>
		<key>height</key>
		<string>32</string>
		<key>pixels</key>
		<integer>1344</integer>
		<key>width</key>
		<string>42</string>
	</dict>
	<dict>
		<key>height</key>
		<string>32</string>
		<key>pixels</key>
		<integer>1536</integer>
		<key>width</key>
		<string>48</string>
	</dict>
	<dict>
		<key>height</key>
		<string>40</string>
		<key>pixels</key>
		<integer>2400</integer>
		<key>width</key>
		<string>60</string>
	</dict>
	<dict>
		<key>height</key>
		<string>64</string>
		<key>pixels</key>
		<integer>4096</integer>
		<key>width</key>
		<string>64</string>
	</dict>
	<dict>
		<key>height</key>
		<string>64</string>
		<key>pixels</key>
		<integer>4608</integer>
		<key>width</key>
		<string>72</string>
	</dict>
	<dict>
		<key>height</key>
		<string>36</string>
		<key>pixels</key>
		<integer>4608</integer>
		<key>width</key>
		<string>128</string>
	</dict>
	<dict>
		<key>height</key>
		<string>64</string>
		<key>pixels</key>
		<integer>4800</integer>
		<key>width</key>
		<string>75</string>
	</dict>
	<dict>
		<key>height</key>
		<string>48</string>
		<key>pixels</key>
		<integer>4032</integer>
		<key>width</key>
		<string>84</string>
	</dict>
	<dict>
		<key>height</key>
		<string>40</string>
		<key>pixels</key>
		<integer>6000</integer>
		<key>width</key>
		<string>150</string>
	</dict>
	<dict>
		<key>height</key>
		<string>64</string>
		<key>pixels</key>
		<integer>6144</integer>
		<key>width</key>
		<string>96</string>
	</dict>
	<dict>
		<key>height</key>
		<string>64</string>
		<key>pixels</key>
		<integer>6144</integer>
		<key>width</key>
		<string>96</string>
	</dict>
	<dict>
		<key>height</key>
		<string>48</string>
		<key>pixels</key>
		<integer>6144</integer>
		<key>width</key>
		<string>128</string>
	</dict>
	<dict>
		<key>height</key>
		<string>65</string>
		<key>pixels</key>
		<integer>6240</integer>
		<key>width</key>
		<string>96</string>
	</dict>
	<dict>
		<key>height</key>
		<string>96</string>
		<key>pixels</key>
		<integer>9216</integer>
		<key>width</key>
		<string>96</string>
	</dict>
	<dict>
		<key>height</key>
		<string>64</string>
		<key>pixels</key>
		<integer>6528</integer>
		<key>width</key>
		<string>102</string>
	</dict>
	<dict>
		<key>height</key>
		<string>64</string>
		<key>pixels</key>
		<integer>15360</integer>
		<key>width</key>
		<string>240</string>
	</dict>
	<dict>
		<key>height</key>
		<string>102</string>
		<key>pixels</key>
		<integer>16320</integer>
		<key>width</key>
		<string>160</string>
	</dict>
	<dict>
		<key>height</key>
		<string>128</string>
		<key>pixels</key>
		<integer>16384</integer>
		<key>width</key>
		<string>128</string>
	</dict>
	<dict>
		<key>height</key>
		<string>120</string>
		<key>pixels</key>
		<integer>19200</integer>
		<key>width</key>
		<string>160</string>
	</dict>
	<dict>
		<key>height</key>
		<string>144</string>
		<key>pixels</key>
		<integer>23040</integer>
		<key>width</key>
		<string>160</string>
	</dict>
	<dict>
		<key>height</key>
		<string>168</string>
		<key>pixels</key>
		<integer>24192</integer>
		<key>width</key>
		<string>144</string>
	</dict>
	<dict>
		<key>height</key>
		<string>152</string>
		<key>pixels</key>
		<integer>24320</integer>
		<key>width</key>
		<string>160</string>
	</dict>
	<dict>
		<key>height</key>
		<string>160</string>
		<key>pixels</key>
		<integer>25600</integer>
		<key>width</key>
		<string>160</string>
	</dict>
	<dict>
		<key>height</key>
		<string>192</string>
		<key>pixels</key>
		<integer>26880</integer>
		<key>width</key>
		<string>140</string>
	</dict>
	<dict>
		<key>height</key>
		<string>200</string>
		<key>pixels</key>
		<integer>32000</integer>
		<key>width</key>
		<string>160</string>
	</dict>
	<dict>
		<key>height</key>
		<string>144</string>
		<key>pixels</key>
		<integer>32256</integer>
		<key>width</key>
		<string>224</string>
	</dict>
	<dict>
		<key>height</key>
		<string>176</string>
		<key>pixels</key>
		<integer>36608</integer>
		<key>width</key>
		<string>208</string>
	</dict>
	<dict>
		<key>height</key>
		<string>160</string>
		<key>pixels</key>
		<integer>38400</integer>
		<key>width</key>
		<string>240</string>
	</dict>
	<dict>
		<key>height</key>
		<string>176</string>
		<key>pixels</key>
		<integer>38720</integer>
		<key>width</key>
		<string>220</string>
	</dict>
	<dict>
		<key>height</key>
		<string>256</string>
		<key>pixels</key>
		<integer>40960</integer>
		<key>width</key>
		<string>160</string>
	</dict>
	<dict>
		<key>height</key>
		<string>208</string>
		<key>pixels</key>
		<integer>43264</integer>
		<key>width</key>
		<string>208</string>
	</dict>
	<dict>
		<key>height</key>
		<string>192</string>
		<key>pixels</key>
		<integer>49152</integer>
		<key>width</key>
		<string>256</string>
	</dict>
	<dict>
		<key>height</key>
		<string>192</string>
		<key>pixels</key>
		<integer>53760</integer>
		<key>width</key>
		<string>280</string>
	</dict>
	<dict>
		<key>height</key>
		<string>128</string>
		<key>pixels</key>
		<integer>55296</integer>
		<key>width</key>
		<string>432</string>
	</dict>
	<dict>
		<key>height</key>
		<string>240</string>
		<key>pixels</key>
		<integer>57600</integer>
		<key>width</key>
		<string>240</string>
	</dict>
	<dict>
		<key>height</key>
		<string>192</string>
		<key>pixels</key>
		<integer>61440</integer>
		<key>width</key>
		<string>320</string>
	</dict>
	<dict>
		<key>height</key>
		<string>200</string>
		<key>pixels</key>
		<integer>64000</integer>
		<key>width</key>
		<string>320</string>
	</dict>
	<dict>
		<key>height</key>
		<string>256</string>
		<key>pixels</key>
		<integer>65536</integer>
		<key>width</key>
		<string>256</string>
	</dict>
	<dict>
		<key>height</key>
		<string>208</string>
		<key>pixels</key>
		<integer>66560</integer>
		<key>width</key>
		<string>320</string>
	</dict>
	<dict>
		<key>height</key>
		<string>224</string>
		<key>pixels</key>
		<integer>71680</integer>
		<key>width</key>
		<string>320</string>
	</dict>
	<dict>
		<key>height</key>
		<string>240</string>
		<key>pixels</key>
		<integer>76800</integer>
		<key>width</key>
		<string>320</string>
	</dict>
	<dict>
		<key>height</key>
		<string>256</string>
		<key>pixels</key>
		<integer>81920</integer>
		<key>width</key>
		<string>320</string>
	</dict>
	<dict>
		<key>height</key>
		<string>340</string>
		<key>pixels</key>
		<integer>92480</integer>
		<key>width</key>
		<string>272</string>
	</dict>
	<dict>
		<key>height</key>
		<string>240</string>
		<key>pixels</key>
		<integer>96000</integer>
		<key>width</key>
		<string>400</string>
	</dict>
	<dict>
		<key>height</key>
		<string>320</string>
		<key>pixels</key>
		<integer>102400</integer>
		<key>width</key>
		<string>320</string>
	</dict>
	<dict>
		<key>height</key>
		<string>240</string>
		<key>pixels</key>
		<integer>103680</integer>
		<key>width</key>
		<string>432</string>
	</dict>
	<dict>
		<key>height</key>
		<string>192</string>
		<key>pixels</key>
		<integer>107520</integer>
		<key>width</key>
		<string>560</string>
	</dict>
	<dict>
		<key>height</key>
		<string>270</string>
		<key>pixels</key>
		<integer>108000</integer>
		<key>width</key>
		<string>400</string>
	</dict>
	<dict>
		<key>height</key>
		<string>288</string>
		<key>pixels</key>
		<integer>110592</integer>
		<key>width</key>
		<string>384</string>
	</dict>
	<dict>
		<key>height</key>
		<string>234</string>
		<key>pixels</key>
		<integer>112320</integer>
		<key>width</key>
		<string>480</string>
	</dict>
	<dict>
		<key>height</key>
		<string>250</string>
		<key>pixels</key>
		<integer>120000</integer>
		<key>width</key>
		<string>480</string>
	</dict>
	<dict>
		<key>height</key>
		<string>300</string>
		<key>pixels</key>
		<integer>120000</integer>
		<key>width</key>
		<string>400</string>
	</dict>
	<dict>
		<key>height</key>
		<string>240</string>
		<key>pixels</key>
		<integer>90240</integer>
		<key>width</key>
		<string>376</string>
	</dict>
	<dict>
		<key>height</key>
		<string>390</string>
		<key>pixels</key>
		<integer>121680</integer>
		<key>width</key>
		<string>312</string>
	</dict>
	<dict>
		<key>height</key>
		<string>200</string>
		<key>pixels</key>
		<integer>128000</integer>
		<key>width</key>
		<string>640</string>
	</dict>
	<dict>
		<key>height</key>
		<string>272</string>
		<key>pixels</key>
		<integer>130560</integer>
		<key>width</key>
		<string>480</string>
	</dict>
	<dict>
		<key>height</key>
		<string>256</string>
		<key>pixels</key>
		<integer>131072</integer>
		<key>width</key>
		<string>512</string>
	</dict>
	<dict>
		<key>height</key>
		<string>352</string>
		<key>pixels</key>
		<integer>146432</integer>
		<key>width</key>
		<string>416</string>
	</dict>
	<dict>
		<key>height</key>
		<string>240</string>
		<key>pixels</key>
		<integer>153600</integer>
		<key>width</key>
		<string>640</string>
	</dict>
	<dict>
		<key>height</key>
		<string>320</string>
		<key>pixels</key>
		<integer>153600</integer>
		<key>width</key>
		<string>480</string>
	</dict>
	<dict>
		<key>height</key>
		<string>256</string>
		<key>pixels</key>
		<integer>163840</integer>
		<key>width</key>
		<string>640</string>
	</dict>
	<dict>
		<key>height</key>
		<string>342</string>
		<key>pixels</key>
		<integer>175104</integer>
		<key>width</key>
		<string>512</string>
	</dict>
	<dict>
		<key>height</key>
		<string>240</string>
		<key>pixels</key>
		<integer>192000</integer>
		<key>width</key>
		<string>800</string>
	</dict>
	<dict>
		<key>height</key>
		<string>384</string>
		<key>pixels</key>
		<integer>196608</integer>
		<key>width</key>
		<string>512</string>
	</dict>
	<dict>
		<key>height</key>
		<string>320</string>
		<key>pixels</key>
		<integer>204800</integer>
		<key>width</key>
		<string>640</string>
	</dict>
	<dict>
		<key>height</key>
		<string>350</string>
		<key>pixels</key>
		<integer>224000</integer>
		<key>width</key>
		<string>640</string>
	</dict>
	<dict>
		<key>height</key>
		<string>360</string>
		<key>pixels</key>
		<integer>230400</integer>
		<key>width</key>
		<string>640</string>
	</dict>
	<dict>
		<key>height</key>
		<string>500</string>
		<key>pixels</key>
		<integer>240000</integer>
		<key>width</key>
		<string>480</string>
	</dict>
	<dict>
		<key>height</key>
		<string>348</string>
		<key>pixels</key>
		<integer>250560</integer>
		<key>width</key>
		<string>720</string>
	</dict>
	<dict>
		<key>height</key>
		<string>350</string>
		<key>pixels</key>
		<integer>252000</integer>
		<key>width</key>
		<string>720</string>
	</dict>
	<dict>
		<key>height</key>
		<string>400</string>
		<key>pixels</key>
		<integer>256000</integer>
		<key>width</key>
		<string>640</string>
	</dict>
	<dict>
		<key>height</key>
		<string>364</string>
		<key>pixels</key>
		<integer>262080</integer>
		<key>width</key>
		<string>720</string>
	</dict>
	<dict>
		<key>height</key>
		<string>352</string>
		<key>pixels</key>
		<integer>281600</integer>
		<key>width</key>
		<string>800</string>
	</dict>
	<dict>
		<key>height</key>
		<string>480</string>
		<key>pixels</key>
		<integer>288000</integer>
		<key>width</key>
		<string>600</string>
	</dict>
	<dict>
		<key>height</key>
		<string>480</string>
		<key>pixels</key>
		<integer>307200</integer>
		<key>width</key>
		<string>640</string>
	</dict>
	<dict>
		<key>height</key>
		<string>512</string>
		<key>pixels</key>
		<integer>327680</integer>
		<key>width</key>
		<string>640</string>
	</dict>
	<dict>
		<key>height</key>
		<string>480</string>
		<key>pixels</key>
		<integer>368640</integer>
		<key>width</key>
		<string>768</string>
	</dict>
	<dict>
		<key>height</key>
		<string>480</string>
		<key>pixels</key>
		<integer>384000</integer>
		<key>width</key>
		<string>800</string>
	</dict>
	<dict>
		<key>height</key>
		<string>480</string>
		<key>pixels</key>
		<integer>407040</integer>
		<key>width</key>
		<string>848</string>
	</dict>
	<dict>
		<key>height</key>
		<string>480</string>
		<key>pixels</key>
		<integer>409920</integer>
		<key>width</key>
		<string>854</string>
	</dict>
	<dict>
		<key>height</key>
		<string>600</string>
		<key>pixels</key>
		<integer>480000</integer>
		<key>width</key>
		<string>800</string>
	</dict>
	<dict>
		<key>height</key>
		<string>540</string>
		<key>pixels</key>
		<integer>518400</integer>
		<key>width</key>
		<string>960</string>
	</dict>
	<dict>
		<key>height</key>
		<string>624</string>
		<key>pixels</key>
		<integer>519168</integer>
		<key>width</key>
		<string>832</string>
	</dict>
	<dict>
		<key>height</key>
		<string>544</string>
		<key>pixels</key>
		<integer>522240</integer>
		<key>width</key>
		<string>960</string>
	</dict>
	<dict>
		<key>height</key>
		<string>576</string>
		<key>pixels</key>
		<integer>589824</integer>
		<key>width</key>
		<string>1024</string>
	</dict>
	<dict>
		<key>height</key>
		<string>600</string>
		<key>pixels</key>
		<integer>614400</integer>
		<key>width</key>
		<string>1024</string>
	</dict>
	<dict>
		<key>height</key>
		<string>640</string>
		<key>pixels</key>
		<integer>614400</integer>
		<key>width</key>
		<string>960</string>
	</dict>
	<dict>
		<key>height</key>
		<string>640</string>
		<key>pixels</key>
		<integer>655360</integer>
		<key>width</key>
		<string>1024</string>
	</dict>
	<dict>
		<key>height</key>
		<string>720</string>
		<key>pixels</key>
		<integer>691200</integer>
		<key>width</key>
		<string>960</string>
	</dict>
	<dict>
		<key>height</key>
		<string>640</string>
		<key>pixels</key>
		<integer>727040</integer>
		<key>width</key>
		<string>1136</string>
	</dict>
	<dict>
		<key>height</key>
		<string>768</string>
		<key>pixels</key>
		<integer>786432</integer>
		<key>width</key>
		<string>1024</string>
	</dict>
	<dict>
		<key>height</key>
		<string>800</string>
		<key>pixels</key>
		<integer>819200</integer>
		<key>width</key>
		<string>1024</string>
	</dict>
	<dict>
		<key>height</key>
		<string>720</string>
		<key>pixels</key>
		<integer>829440</integer>
		<key>width</key>
		<string>1152</string>
	</dict>
	<dict>
		<key>height</key>
		<string>768</string>
		<key>pixels</key>
		<integer>884736</integer>
		<key>width</key>
		<string>1152</string>
	</dict>
	<dict>
		<key>height</key>
		<string>720</string>
		<key>pixels</key>
		<integer>921600</integer>
		<key>width</key>
		<string>1280</string>
	</dict>
	<dict>
		<key>height</key>
		<string>832</string>
		<key>pixels</key>
		<integer>931840</integer>
		<key>width</key>
		<string>1120</string>
	</dict>
	<dict>
		<key>height</key>
		<string>768</string>
		<key>pixels</key>
		<integer>983040</integer>
		<key>width</key>
		<string>1280</string>
	</dict>
	<dict>
		<key>height</key>
		<string>864</string>
		<key>pixels</key>
		<integer>995328</integer>
		<key>width</key>
		<string>1152</string>
	</dict>
	<dict>
		<key>height</key>
		<string>750</string>
		<key>pixels</key>
		<integer>1000500</integer>
		<key>width</key>
		<string>1334</string>
	</dict>
	<dict>
		<key>height</key>
		<string>800</string>
		<key>pixels</key>
		<integer>1024000</integer>
		<key>width</key>
		<string>1280</string>
	</dict>
	<dict>
		<key>height</key>
		<string>900</string>
		<key>pixels</key>
		<integer>1036800</integer>
		<key>width</key>
		<string>1152</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1024</string>
		<key>pixels</key>
		<integer>1048576</integer>
		<key>width</key>
		<string>1024</string>
	</dict>
	<dict>
		<key>height</key>
		<string>768</string>
		<key>pixels</key>
		<integer>1049088</integer>
		<key>width</key>
		<string>1366</string>
	</dict>
	<dict>
		<key>height</key>
		<string>854</string>
		<key>pixels</key>
		<integer>1093120</integer>
		<key>width</key>
		<string>1280</string>
	</dict>
	<dict>
		<key>height</key>
		<string>768</string>
		<key>pixels</key>
		<integer>1228800</integer>
		<key>width</key>
		<string>1600</string>
	</dict>
	<dict>
		<key>height</key>
		<string>960</string>
		<key>pixels</key>
		<integer>1228800</integer>
		<key>width</key>
		<string>1280</string>
	</dict>
	<dict>
		<key>height</key>
		<string>900</string>
		<key>pixels</key>
		<integer>1296000</integer>
		<key>width</key>
		<string>1440</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1024</string>
		<key>pixels</key>
		<integer>1310720</integer>
		<key>width</key>
		<string>1280</string>
	</dict>
	<dict>
		<key>height</key>
		<string>960</string>
		<key>pixels</key>
		<integer>1382400</integer>
		<key>width</key>
		<string>1440</string>
	</dict>
	<dict>
		<key>height</key>
		<string>900</string>
		<key>pixels</key>
		<integer>1440000</integer>
		<key>width</key>
		<string>1600</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1050</string>
		<key>pixels</key>
		<integer>1470000</integer>
		<key>width</key>
		<string>1400</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1024</string>
		<key>pixels</key>
		<integer>1474560</integer>
		<key>width</key>
		<string>1440</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1080</string>
		<key>pixels</key>
		<integer>1555200</integer>
		<key>width</key>
		<string>1440</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1024</string>
		<key>pixels</key>
		<integer>1638400</integer>
		<key>width</key>
		<string>1600</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1050</string>
		<key>pixels</key>
		<integer>1764000</integer>
		<key>width</key>
		<string>1680</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1200</string>
		<key>pixels</key>
		<integer>1920000</integer>
		<key>width</key>
		<string>1600</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1080</string>
		<key>pixels</key>
		<integer>2073600</integer>
		<key>width</key>
		<string>1920</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1200</string>
		<key>pixels</key>
		<integer>2304000</integer>
		<key>width</key>
		<string>1920</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1280</string>
		<key>pixels</key>
		<integer>2457600</integer>
		<key>width</key>
		<string>1920</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1152</string>
		<key>pixels</key>
		<integer>2359296</integer>
		<key>width</key>
		<string>2048</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1344</string>
		<key>pixels</key>
		<integer>2408448</integer>
		<key>width</key>
		<string>1792</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1392</string>
		<key>pixels</key>
		<integer>2583552</integer>
		<key>width</key>
		<string>1856</string>
	</dict>
	<dict>
		<key>height</key>
		<string>900</string>
		<key>pixels</key>
		<integer>2592000</integer>
		<key>width</key>
		<string>2880</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1440</string>
		<key>pixels</key>
		<integer>2592000</integer>
		<key>width</key>
		<string>1800</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1280</string>
		<key>pixels</key>
		<integer>2621440</integer>
		<key>width</key>
		<string>2048</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1400</string>
		<key>pixels</key>
		<integer>2688000</integer>
		<key>width</key>
		<string>1920</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1080</string>
		<key>pixels</key>
		<integer>2741040</integer>
		<key>width</key>
		<string>2538</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1080</string>
		<key>pixels</key>
		<integer>2764800</integer>
		<key>width</key>
		<string>2560</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1440</string>
		<key>pixels</key>
		<integer>2764800</integer>
		<key>width</key>
		<string>1920</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1440</string>
		<key>pixels</key>
		<integer>3110400</integer>
		<key>width</key>
		<string>2160</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1536</string>
		<key>pixels</key>
		<integer>3145728</integer>
		<key>width</key>
		<string>2048</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1440</string>
		<key>pixels</key>
		<integer>3317760</integer>
		<key>width</key>
		<string>2304</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1440</string>
		<key>pixels</key>
		<integer>3686400</integer>
		<key>width</key>
		<string>2560</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1728</string>
		<key>pixels</key>
		<integer>3981312</integer>
		<key>width</key>
		<string>2304</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1600</string>
		<key>pixels</key>
		<integer>4096000</integer>
		<key>width</key>
		<string>2560</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1700</string>
		<key>pixels</key>
		<integer>4352000</integer>
		<key>width</key>
		<string>2560</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1920</string>
		<key>pixels</key>
		<integer>4915200</integer>
		<key>width</key>
		<string>2560</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1440</string>
		<key>pixels</key>
		<integer>4953600</integer>
		<key>width</key>
		<string>3440</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1800</string>
		<key>pixels</key>
		<integer>5184000</integer>
		<key>width</key>
		<string>2880</string>
	</dict>
	<dict>
		<key>height</key>
		<string>2048</string>
		<key>pixels</key>
		<integer>5242880</integer>
		<key>width</key>
		<string>2560</string>
	</dict>
	<dict>
		<key>height</key>
		<string>2100</string>
		<key>pixels</key>
		<integer>5880000</integer>
		<key>width</key>
		<string>2800</string>
	</dict>
	<dict>
		<key>height</key>
		<string>1800</string>
		<key>pixels</key>
		<integer>5760000</integer>
		<key>width</key>
		<string>3200</string>
	</dict>
	<dict>
		<key>height</key>
		<string>2048</string>
		<key>pixels</key>
		<integer>6553600</integer>
		<key>width</key>
		<string>3200</string>
	</dict>
	<dict>
		<key>height</key>
		<string>2400</string>
		<key>pixels</key>
		<integer>7680000</integer>
		<key>width</key>
		<string>3200</string>
	</dict>
	<dict>
		<key>height</key>
		<string>2160</string>
		<key>pixels</key>
		<integer>8294400</integer>
		<key>width</key>
		<string>3840</string>
	</dict>
	<dict>
		<key>height</key>
		<string>2400</string>
		<key>pixels</key>
		<integer>9216000</integer>
		<key>width</key>
		<string>3840</string>
	</dict>
	<dict>
		<key>height</key>
		<string>2304</string>
		<key>pixels</key>
		<integer>9437184</integer>
		<key>width</key>
		<string>4096</string>
	</dict>
	<dict>
		<key>height</key>
		<string>2160</string>
		<key>pixels</key>
		<integer>11059200</integer>
		<key>width</key>
		<string>5120</string>
	</dict>
	<dict>
		<key>height</key>
		<string>3072</string>
		<key>pixels</key>
		<integer>12582912</integer>
		<key>width</key>
		<string>4096</string>
	</dict>
	<dict>
		<key>height</key>
		<string>2880</string>
		<key>pixels</key>
		<integer>14745600</integer>
		<key>width</key>
		<string>5120</string>
	</dict>
	<dict>
		<key>height</key>
		<string>3200</string>
		<key>pixels</key>
		<integer>16384000</integer>
		<key>width</key>
		<string>5120</string>
	</dict>
	<dict>
		<key>height</key>
		<string>4096</string>
		<key>pixels</key>
		<integer>20971520</integer>
		<key>width</key>
		<string>5120</string>
	</dict>
	<dict>
		<key>height</key>
		<string>4096</string>
		<key>pixels</key>
		<integer>26214400</integer>
		<key>width</key>
		<string>6400</string>
	</dict>
	<dict>
		<key>height</key>
		<string>4800</string>
		<key>pixels</key>
		<integer>30720000</integer>
		<key>width</key>
		<string>6400</string>
	</dict>
	<dict>
		<key>height</key>
		<string>4320</string>
		<key>pixels</key>
		<integer>33177600</integer>
		<key>width</key>
		<string>7680</string>
	</dict>
	<dict>
		<key>height</key>
		<string>4800</string>
		<key>pixels</key>
		<integer>36864000</integer>
		<key>width</key>
		<string>7680</string>
	</dict>
	<dict>
		<key>height</key>
		<string>4608</string>
		<key>pixels</key>
		<integer>37748736</integer>
		<key>width</key>
		<string>8192</string>
	</dict>
	<dict>
		<key>height</key>
		<string>8192</string>
		<key>pixels</key>
		<integer>67108864</integer>
		<key>width</key>
		<string>8192</string>
	</dict>
</array>
</plist>
